@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora";
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: bold;
}

/* input container */
.inputDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* input */
.inputDiv input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputDiv input:focus {
  border-color: #3498db;
}

/* Add button */
.inputDiv button {
  padding: 10px 20px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* item list css */
.items {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* del button css */
.items button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.items button:hover {
  background-color: #c0392b;
}

/* span font */
.items span {
  font-size: 16px;
}
